/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {

/* text-align: center; */
margin: auto;
} 

.textarea {
  width: 55%;
  height: 175%;
  padding: 12px 20px;
}

.button {
  text-align: center;
  margin: auto;
  width: 25%;
}

.input {
  text-align: center;
  margin: auto;
  width: 35%;
}

.card {
  text-align: center;
  margin: auto;
  width: 500px;
}

.article {
  text-align: left;
  margin-left: 10%;
  margin-Right: 10%;
}

.radio {
  text-align: center;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (min-width: 500px) {
  .show-on-mobile {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .input {
    text-align: center;
    margin: auto;
    width: 65%;
  }
  .button {
    text-align: center;
    margin: auto;
    width: 45%;
  }
  .card {
    text-align: center;
    margin: auto;
    width: 300px;
  }
}

@media only screen and (max-width: 430px) {
  .card {
    text-align: center;
    margin: auto;
    width: 65%;
  }
  /* .article {
    text-align: left;
    margin-left: 10%; 
     margin-Right: 10%;
  } */
  
}
/* ! navbars are causing the weird renders */